.section-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    margin-bottom: 5rem;
}
.section-head__title{
    font-family: 'Poppins Bold';
    font-size: 4rem;
    margin: 0;
}
.section-head__caption{
    font-family: 'Poppins Regular';
    letter-spacing: .25rem;
}
.section-head__line{
    width: 25rem;
    height: .3rem;
    border-radius: 5rem;
    background-color: var(--primary-color);
    margin-top: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-head__line::before{
    content: " ";
    position: absolute;
    width: 5rem;
    height: 1rem;
    border-radius: 5rem;
    background-color: var(--primary-color);

}
